@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap");

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #000000e7;
  color: #fff;
  font-family: "Noto Sans Mono", monospace;
  font-size: 1.4rem;
}

/*nav*/
nav {
  background-color: #2e2e2e;
  border-radius: 1rem;
  padding: 1.5rem;
}

nav a {
  background-color: #ff2c2c;
  color: #fdf4f4;
  border-radius: 5rem;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
}

nav a:hover {
  background-color: #8c00ff;
  color: #ffffff;
  transition: 1s;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-weight: bold;
  white-space: nowrap;
  padding: 0 0;
}

footer h5 {
  text-align: center;
}
